################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/Libs/bin/Debug
/packages
/UHF.SDK/bin/Debug
/UHF.SDK/obj/Debug
/UHFManager/bin/Debug
/UHFManager/obj/Debug
/Libs/.vs/DLL/v15
